body {
    margin: 0;
    padding: 0;
    background: url('../img/background.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
h1 {
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 0;
    line-height: 100vh;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}