html {
	background: -moz-linear-gradient(45deg, #4be58b 0%, #46f2ec 31%, #46f2ec 57%, #46f2ec 57%, #ed49fc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #4be58b 0%,#46f2ec 31%,#46f2ec 57%,#46f2ec 57%,#ed49fc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #4be58b 0%,#46f2ec 31%,#46f2ec 57%,#46f2ec 57%,#ed49fc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4be58b', endColorstr='#ed49fc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-background-size: cover;
	background-size: cover;
	font-family: 'Helvetica';
	text-align: center;
	font-size: 10px;
}

body {
	font-size: 2rem;
	display: flex;
	flex:  1;
	min-height: 100vh;
	align-items: center;
	margin: 0;
}

body::after {
	background: url(http://i.imgur.com/ieYlerA.gif) center;
	-webkit-background-size: cover;
	background-size: cover;
	opacity: 0.3;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}


.clock {
	position: relative;
	width: 30rem;
	height: 30rem;
	border:  20px solid white;
	border-radius: 50%;
	margin: 0 auto;
	padding: 2rem;
}

.clock-face {
	position: relative;
	width: 100%;
	height: 100%;
	transform:  translateY(-3px);
}

.hand {
	width: 50%;
	height: 5px;
	background: #000;
	position: absolute;
	top: 50%;
	transform: rotate(90deg);
	transform-origin: 100%;
	transition: all 0.05s;
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}