html {
    box-sizing: border-box;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.bad-icon {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    animation: fade 1s infinite linear, invert 1s infinite linear;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    animation: invert 1s infinite linear;
}
.wrapper {
    padding: 20px;
    max-width: 350px;
    background: rgba(255, 255, 255, 0.95);
    animation-name: shadow;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

h2 {
    text-align: center;
    margin: 0;
    font-weight: 200;
}

.plates {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
}

.plates li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    font-weight: 100;
    display: flex;
}

.plates label {
    flex: 1;
    cursor: pointer;
}

.plates input {
    display: none;
}

.plates input+label:before {
    content: '\1F611';
    margin-right: 10px;
}

.plates input:checked+label:before {
    content: '\1F47E';
}

.add-items {
    margin-top: 20px;
}

.add-items input {
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 50px 5px rgba(31,173,159,0.5);
    }
    25% {
        box-shadow: 0 0 100px 15px rgba(205,49,49,0.5);
    }
    75% {
        box-shadow: 0 0 100px 15px rgba(246,228,181,0.5);
    }
    100% {
        box-shadow: 0 0 50px 5px rgba(31,173,159,0.5);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

@keyframes invert {
    0% {
        filter: invert(0%);
    }
    50% {
        filter: invert(100%);
    }
    100% {
         filter: invert(0%);
    }
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: invert(180deg);
    }
    100% {
         filter: invert(0deg);
    }
}