.hand {
	width: 50%;
	height: 5px;
	background-color: #FFF;
	position: absolute;
	top: 50%;
	transform: rotate(90deg);
	transform-origin: 100%;
	transition: all 0.05s;
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
	border-radius: 300px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}