html {
  font-size: 10px;
  background: #bfb5af;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: grid;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
}

.key {
  border-radius: 24px;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s;
  width: 80%;
  height: 60%;
  text-align: center;
  color: white;
  background-color: #a26769;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.3s;
}

.playing {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  text-shadow: 5px 5px 10px black;
  background-color: #582c4d;
  transform: translate(5px, 5px);
}

.playing kbd {
  color: #ece2d0;
}

kbd {
  display: block;
  font-size: 40px;
  width: 40px;
  height: 40px;
  font-family: "Fredoka One", cursive;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffc600;
}
