:root {
	--base:  #FF0080;
	--spacing: 10px;
	--blur: 0;
	--opacity: 1;
	--grayscale: 0;
}

html {

	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	width: 100%;

}

h2 {
	text-shadow: 0 0 10px #000;
}

body {
	color: white;
	font-family: 'helvetica neue', sans-serif;
	font-weight: 100;
	font-size: 50px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.controls {
	border:  5px solid #000;
	background: rgba(0, 0, 0, 0.7);
	text-align: left;
	padding: 50px;
	box-shadow: 0 0 10px #000;
	margin: 0 auto;
	width: 60vw;
}

input {
	width:100px;
}

.img-bg{
	position: fixed;
	top: 0;
	z-index: -1;
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex: 1;
	-webkit-box-flex: 1;
	flex: 1;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.img-editable {

	padding:0 var(--spacing);
	background: var(--base);
	-webkit-filter: blur(var(--blur)) grayscale(var(--grayscale));
	filter: blur(var(--blur)) grayscale(var(--grayscale));
	opacity: var(--opacity);
	width: 100%;
	height: 100%;
}

.img-secret {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 350px;
	height: 350px;
	padding: 25px 0 0 50px;
}

.hl {
	color: var(--base);
}