:root {
	--base:  #FF0080;
	--spacing: 10px;
	--blur: 10px;
	--opacity: 1;
	--grayscale: 0;
}

html {
	background: url(https://media.giphy.com/media/XCLuJxND16CvC/giphy.gif) no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

body {
	color: white;
	font-family: 'helvetica neue', sans-serif;
	font-weight: 100;
	font-size: 50px;
	text-align: center;
}
.controls {
	border:  5px solid #000;
	background: rgba(0, 0, 0, 0.7);
	float: left;
	text-align: left;
	margin-left: 100px;
	padding: 50px;
}
input {
	width:100px;
}

.img-area{
	position: relative;
	float: right;
	right: 100px;
	width: 450px;
	height: 450px;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex: 1;
	-webkit-box-flex: 1;
	flex: 1;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	margin: 0 auto;
}

.img-editable {

	padding:0 var(--spacing);
	background: var(--base);
	-webkit-filter: blur(var(--blur)) grayscale(var(--grayscale));
	filter: blur(var(--blur)) grayscale(var(--grayscale));
	opacity: var(--opacity);
	width: 450px;
	height: 450px;
}

.img-secret {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 350px;
	height: 350px;
	padding: 60px;
}

.hl {
	color: var(--base);
}